.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  .logo img {
    max-width: 50%;
  }
  
  .main-menu ul {
    display: flex;
    list-style: none;
  }
  
  .main-menu li {
    margin-right: 20px;
  }
  
  .main-menu a {
    color: #333;
    text-decoration: none;
  }
  
  .contact-info a {
    display: inline-block;
    margin-right: 10px;
    color: #333;
  }
  
  .contact-info a i {
    margin-right: 5px;
  }
  
  .main-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
    background-color: #ecede5;
    
  }

  .text-menu{
    font-size: 30px;
  }


  .text-menu-graf{
    position: relative;
    text-decoration: none;
  }

  .text-menu-graf:after {
    content: "";
    display: block;
    height: 2px;
    width: 0;
    background-color: black;
    transition: width 0.3s ease-in-out;
    position: absolute;
    bottom: -2px;
    left: 0;
  }
  
  .text-menu-graf:hover:after {
    width: 100%;
  }

  .contact-info{
    font-size: 20px;
  }
  
  .banner-content h1 {
    font-size: 48px;
    margin-bottom: 20px;
  }
  
  .banner-content p {
    font-size: 24px;
    margin-bottom: 30px;
  }
  
  .banner-content h2 {
    font-size: 36px;
    margin-bottom: 40px;
  }
  
  .cta-buttons {
    display: flex;
    margin-bottom: 20px;
  }
  
  .cta-buttons a {
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    text-decoration: none;
    background-color: #333;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .cta-buttons a:last-child {
    margin-right: 0;
  }
  

  .contact-form input {
    display: block;
    
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
  }


  .contact-form{
    margin-top: 100px;
    background-color: #f2f2f2;
    padding: 20px;
  }


  .contact-form textarea {
    display: block;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
  }
  
  .contact-form input[type="submit"] {
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .banner-image img {
    width: 40%;
    height: auto;
  }

  .button-primary{ 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;}

  .button-primary:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
      }

  .button-secondary{ 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;}

  .button-secondary:hover {
        transform: scale(1.1);
        box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
      }

  .button-tertiary{ 
    width: 100%;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;}

  .button-tertiary:hover {
        transform: scale(1.02);
        box-shadow: 0px 0px 10px  rgba(0,0,0,0.3);
      }
      
  .textarea-messeng{
    width: 98%;
    height: auto;

  }
      

  